:root{
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --lightblack: hsl(0, 0%, 7%);
    --grey: hsl(0, 0%, 53%);
    --lightgrey: hsl(0, 0%, 83%);
    --darkgrey: hsl(0, 0%, 66%);
    --transparent: hsla(0, 0%, 0%, 0);
    --purple: rgb(80, 0, 80);
    --lightpurple: rgb(88, 25, 88); 
    --color-body-bg:hsl(0, 0%, 80%);
    --color-text-bg:lightgrey;
    --color-block-bg:var(--darkgrey);
    --color-block-shadow:hsl(0, 0%, 53%);
    --color-txt: var(--white);
    --color-outline: var(--white);
    --color-tabs-text: var(--black);
    --color-right-arrows:var(--color-body-bg);
    --range: 5rem;
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 100vh;
    font-size: 3rem;
    container-type: inline-size;

}

main button{
    display: flex;
    border-radius: 50%;
    margin: 2px;
    padding: 2px;
    outline: solid 3px grey;
    outline-offset: -6px;
    border: none;
    text-decoration: none;
    background: lightgrey;
    justify-content: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    align-items: center;

}

main button a{
    text-decoration: none;
    color: black;
    padding: 10px;
    height: 30px;
}

.maingrid{
    display: grid;
    grid-template-areas: 'x t x' 'l c r' 'x b x';
    grid-template-columns: 0fr 1fr 0fr;
    height: -webkit-fill-available;
    align-content: space-between;
    gap: .2rem;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent
  }

  ::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
  }

  
.maingrid > *{
    display: flex;
    min-width: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    outline: solid 1px transparent;
    background-color: var(--color-block-bg);
}

.tl{
    border-top-left-radius: 10px;
}


.tr{
    border-top-right-radius: 10px;
}

.bl{
    border-bottom-left-radius: 10px;
}

.br{
    border-bottom-right-radius: 10px;
}


.l, .c, .r{
    align-items: center;
}

.tl, .tr, .bl, .br{
    width: 80px;
    height: 80px;
}

.t{
    display: flex;
    justify-content: start;
}

.t li, .l li{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.t li>*, .tr a>*,  .l li>*, .c>*, tr>*, .r>*, .bl>*, .b>*, .br>*{
    color: var(--color-tabs-text);
}

.l{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.t li{
    height: 80px;
    width: auto;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: system-ui;
}

.t a{
    font-size: 15px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    width: auto;
    height: 30px;
}

.l li{
    writing-mode: vertical-rl;
    height: auto;
    width: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: system-ui;
    transform: rotate(180deg);
}

.l > *{
    margin:10px 0 !important;
}

.l a{
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 90px;
}

.t > * {
    margin: 0 10px !important;
}

.t, .b{
    height: 80px;
}

.c{
    overflow-y: scroll;
    display: flex;
    height: auto;
    flex-direction: column;
    place-content: flex-start;
    font-size: 2rem;
    padding: 30px;
}

.r{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.r > *{
    writing-mode: vertical-lr;
}

.r a{
    text-align: center;
}

.r a:first-child{
    border-top: solid 4px var(--color-right-arrows);
    border-bottom: solid 4px var(--color-right-arrows);
}

.maingrid p{
    margin: 0;
    padding: 0;
}

.bl, .b, .br{
    bottom: 0;
}

#popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.75);
    display: none;
    backdrop-filter: blur(3px);
    transition: .2s;
}

/* input{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
} */

#check:checked ~ main{
    transform: scale(1.2);
}

#popup .popup-content{
    position: absolute;
    border-radius: 10px;
    background-color: var(--color-body-bg);
    outline: 0px solid var(--white, 0.1);
    inset: 50px;
}

#popup a.close-popup{
    font-weight: 600;
    text-decoration: none;
    font-size: 3rem;
    line-height: 80px;
    color: var(--color-tabs-text);
    height: 80px;
    width: -webkit-fill-available;
    text-align: center;
}

#popup a.close-popup:hover{
    cursor: pointer;
    transition: .5s;
    opacity: .5;
}

.up-arrow-modal, .down-arrow-modal{
    font-weight: 600;
    text-decoration: none;
    font-size: 3rem;
    line-height: 80px;
    color: var(--color-tabs-text);
    height: 80px;
    width: -webkit-fill-available;
    text-align: center;
}


.up-arrow-modal:hover, .down-arrow-modal:hover{
    cursor: pointer;
    transition: .5s;
    opacity: .5;
}


#popup:target{
    display: block;
    z-index: 3;
    inset: auto 0 0 0;
}

.close-popup>*{
    font-size: 2rem;
}



/* ------------------------------DARKMODE / LIGHTMODE------------------------------ */

.tl form{
    width: 80px;
}

.visually-hidden{
    clip: rect(0 0 0 0 );
    clip-path: inset(50%);
    height:  1px;
    overflow: hidden;    
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-picker > fieldset {
    position: relative;
    border: 0;
    display: flex;
    gap: .7rem;
    width: 70px;
    height: 70px;
    background: transparent;
    padding: 5px;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
}

.color-picker input[type="radio"]{
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
}

.color-picker input[type="radio"]:hover{
    cursor: pointer;
}

.color-picker input[type="radio"]:checked{
    background-color: var(--radio-color);
}

form input[value]{
    font-size: 10rem;
    /* font-size: var(--range); */
}

input[type="radio"]#light{
    position: absolute;
    left: 0.2rem;
    --radio-color: var(--grey)
}

input[type="radio"]#dark{
    position: absolute;
    right: .3rem;
    bottom: .5rem;
    --radio-color: var(--white)
}

input[type="radio"]#purple{
    --radio-color: var(--purple)
}

:root:has(#light:checked){
    --color-body-bg:hsl(0, 0%, 80%);
    --color-text-bg:var(--black);
    --color-block-bg:var(--darkgrey);
    --color-txt:var(--black);
    --color-outline: var(--transparent);
    --radio-color: var(--purple);
    --color-tabs-text: var(--black);
    transition: 3s;
}

:root:has(#dark:checked){
    --color-text-bg:var(--darkgrey);
    --color-block-bg:var(--lightblack);
    --color-txt:var(--white);
    --color-outline: var(--white);
    --radio-color: var(--white);
    --color-tabs-text: var(--white);
    transition: 3s;
}
